<%- include('includes/head.ejs') %>

    <%- include('includes/navigation.ejs') %> 
    <section class="section-welcome">
       <div class="container text-center">
            <p>Error 500.</p>
            <h1>A server side error occured!</h1>
       </div>
    </section>
<%- include('includes/end.ejs') %>