<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>        

    <section class="section-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Orders</h3>
                    <p>Login to view orders.</p>
                </div>
            </div>
        </div>
 
    </section>

<%- include('../includes/end.ejs') %>